<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tu carrito Rodá</title>
    <link rel="stylesheet" href="/css/cartShipping.css" />
    <%- include('../partials/head') %>
</head>
<body class="body">
    
  <%- include('../partials/header') %>

    <main class="main">
    <section class="boxShippingDetail">
      <section class="shippingDetail">
        <article class="shippingDetail__article">
              <p class="shippingDetail__p"><i class="fas fa-truck shippingDetail__icon"></i>Selecciona ubicación de entrega o retiro</p>   
        </article>
        <article class="shippingDetail__article">
              <p class="shippingDetail__p"><i class="fas fa-credit-card shippingDetail__icon"></i>Selecciona metodo de pago</p>
        </article>
      </section>

      <section class="totals">
        <h3 class="totals__title">Totales</h3>
        <table class="totals__table">
          <tbody class="totals__tbody">
            <tr class="totals__tr">
                <td class="totals__td">Subtotal</td>
                <td class="totals__td">$$</td>
            </tr>
            <tr class="totals__tr">
                <td class="totals__td">Envio</td>
                <td class="totals__td">Gratis</td>
            </tr>
            <tr class="totals__tr">
                <td class="totals__td">Pagas</td>
                <td class="totals__td">$$</td>
            </tr>
          </tbody>
        </table>
        <nav class="totals__nav">                
            <a class="totals__link" href="/">
                Finalizar compra
            </a>
          </nav>            
      </section>
    </section>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>