<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tu carrito Rodá</title>
    <link rel="stylesheet" href="/css/cart.css" />
    <%- include('../partials/head') %>
</head>
<body class="body">

  <%- include('../partials/header') %>

    <main class="main">
      <section class="warning">
        <article class="warning__article">
              <p class="warning__p"><i class="fas fa-exclamation-triangle warning__icon"></i>No olvides chequear tu carrito</p>   
        </article>
        <article class="warning__article">
              <p class="warning__p"><i class="fas fa-exclamation-triangle warning__icon"></i>La compra mínima permitida es de $$</p>
        </article>
      </section>

      <section class="boxCart">
        <table class="productDetail">
          <thead class="productDetail__thead">
            <tr class="productDetail__tr">
                <th class="productDetail__th"></th>
                <th class="productDetail__th">Producto</th>
                <th class="productDetail__th">Precio</th>
                <th class="productDetail__th">Cantidad</th>
                <th class="productDetail__th">Subtotal</th>
            </tr>
          </thead>
          <tbody class="productDetail__tbody">
            <tr class="productDetail__tr">
                <td class="productDetail__td">
                    <figure class="productDetail__figure">
                        <img class="productDetail__imageProduct" src="/images/bicicleta.jpg" alt="Img Prod">
                    </figure>
                </td>
                <td class="productDetail__td">Modelo</td>
                <td class="productDetail__td">$$$</td>
                <td class="productDetail__td">
                    <form class="productDetail__quantityButton"> <!--aca tengo que aplicar un form por el div-->
                        <input class="productDetail__input" type="number" value="1" min="1">
                    </form>
                </td>
                <td class="productDetail__td">$$$</td>
            </tr>
            <tr class="productDetail__tr">
                <td class="productDetail__td">
                    <figure class="productDetail__figure">
                        <img class="productDetail__imageProduct" src="images/bicicleta.jpg" alt="Img Prod">
                    </figure>
                </td>
                <td class="productDetail__td">Modelo</td>
                <td class="productDetail__td">$$$</td>
                <td class="productDetail__td">
                    <form class="productDetail__quantityButton">
                      <input class="productDetail__input" type="number" value="1" min="1">
                    </form>
                </td>
                <td class="productDetail__td">$$$</td>
            </tr>
            <tr class="productDetail__tr">
                <td class="productDetail__td">
                    <figure class="productDetail__figure">
                        <img class="productDetail__imageProduct" src="images/bicicleta.jpg" alt="Img Prod">
                    </figure>
                </td>
                <td class="productDetail__td">Modelo</td>
                <td class="productDetail__td">$$$</td>
                <td class="productDetail__td">
                    <form class="productDetail__quantityButton">
                      <input class="productDetail__input" type="number" value="1" min="1">
                    </form>
                </td>
                <td class="productDetail__td">$$$</td>
            </tr>
            <tr class="productDetail__tr">
                <td class="productDetail__td">
                    <figure class="productDetail__figure">
                        <img class="productDetail__imageProduct" src="images/bicicleta.jpg" alt="Img Prod">
                    </figure>
                </td>
                <td class="productDetail__td">Modelo</td>
                <td class="productDetail__td">$$$</td>
                <td class="productDetail__td">
                    <form class="productDetail__quantityButton">
                      <input class="productDetail__input" type="number" value="1" min="1">
                    </form>
                </td>
                <td class="productDetail__td">$$$</td>
            </tr>
          </tbody>
        </table>
        <section class="totals">
            <h3 class="totals__title">Totales</h3>
            <table class="totals__table">
              <tbody class="totals__tbody">
                <tr class="totals__tr">
                    <td class="totals__td">Subtotal</td>
                    <td class="totals__td">$$</td>
                </tr>
                <tr class="totals__tr">
                    <td class="totals__td">Descuento</td>
                    <td class="totals__td">$$</td>
                </tr>
                <tr class="totals__tr">
                    <td class="totals__td">Total</td>
                    <td class="totals__td">$$</td>
                </tr>
              </tbody>
            </table>
            <nav class="totals__nav">                
                <a class="totals__link" href="/cartShipping">
                    Confirmar compra
                </a>
              </nav>            
        </section>
      </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>
