<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crear producto</title>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/createEditForm.css" />
</head>
<body class="body">
    <%- include('../partials/header') %>

    <main class="main">
        <h2 class="main__title">Creación de producto</h2>
        <form class="formProduct" action="/products/create" method="POST">
            <fieldset class="formProduct__fieldset">
                <label class="formProduct__label" for="">Nombre del producto</label>
                <input class="formProduct__input" type="text" name="" id="">
            </fieldset>
            <fieldset class="formProduct__fieldset">
                <label class="formProduct__label" for="">Descripción</label>
                <textarea class="formProduct__textarea" name="" id="" cols="30" rows="10"></textarea>
            </fieldset>
            <fieldset class="formProduct__fieldset formProduct__fieldset--width">
                <label class="formProduct__label formProduct__label--width" for="">Imagen</label>
                <input class="formProduct__input formProduct__input--width" type="file" name="" id="">
            </fieldset>
            <fieldset class="formProduct__fieldset">
                <label class="formProduct__label" for="">Categoria</label>
                <select class="formProduct__select" name="" id="">
                    <option class="formProduct__option" value="">Bicicleta</option>
                    <option class="formProduct__option" value="">Accesorio</option>
                </select>
            </fieldset>
            <fieldset class= "formProduct__fieldset--box">
                <label class="formProduct__label" for="">Colores</label>
                <fieldset class="formProduct__fieldset formProduct__fieldset--checkbox">
                    <input class="formProduct__input formProduct__input--checkbox" type="checkbox" name="color" id="color1">
                    <label class="formProduct__label--checkbox" for="">Color 1</label>
                </fieldset>
                <fieldset class="formProduct__fieldset formProduct__fieldset--checkbox">
                    <input class="formProduct__input formProduct__input--checkbox" type="checkbox" name="color" id="color2">
                    <label class="formProduct__label--checkbox" for="">Color 2</label>
                </fieldset>
                <fieldset class="formProduct__fieldset formProduct__fieldset--checkbox">
                    <input class="formProduct__input formProduct__input--checkbox" type="checkbox" name="color" id="color3">
                    <label class="formProduct__label--checkbox" for="">Color 3</label>
                </fieldset>
                <fieldset class="formProduct__fieldset formProduct__fieldset--checkbox">
                    <input class="formProduct__input formProduct__input--checkbox" type="checkbox" name="color" id="color4">
                    <label class="formProduct__label--checkbox" for="">Color 4</label>
                </fieldset>
            </fieldset>
            <fieldset class="formProduct__fieldset formProduct__fieldset--price">
                    <label class="formProduct__label formProduct__label--price" for="">Precio</label>
                    <input class="formProduct__input formProduct__input--price" type="number" name="" id="" min="0">
            </fieldset>
            <button class="formProduct__button" type="submit">Agregar</button>
        </form>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>