<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bicicletas Rodá</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/product-listBike.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
</head>
<body class="body">
  
  <%- include('../partials/header') %>

      <main class="main">
        <section class="nameSection">
          <h2 class="nameSection__name">BICICLETAS</h2>
          <nav class="buttonBack">
            <a class="buttonBack__link" href=""><i class="fas fa-undo-alt buttonBack__icon"></i></a>
          </nav>
          <nav class="filterMobile">
            <a class="filterMobile__link" href="">Filtrar<i class="fas fa-filter filterMobile__icon"></i></a>
          </nav>
        </section>
        <section class="products">
            <nav class="filterSection">
              <a class="filterSection__item" href="">Modelo<i class="fas fa-angle-down filterSection__icon"></i></a>
              <a class="filterSection__item" href="">Rodado<i class="fas fa-angle-down filterSection__icon"></i></a>
              <a class="filterSection__item" href="">Tamaño de cuadro<i class="fas fa-angle-down filterSection__icon"></i></a>
              <a class="filterSection__item" href="">Color<i class="fas fa-angle-down filterSection__icon"></i></a>
              <a class="filterSection__item " href="">Ordenar por<i class="fas fa-angle-down filterSection__icon"></i></a>
            </nav>
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>          
          <article class="bike">
            <a class="bike__link" href="/product-descriptionBike">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="images/bicicleta.jpg" alt="">
            </figure>
            <h2 class="bike__description bike__description--name">lorem ipsum</h2>
            <p class="bike__description">$1.000.000</p>
            </a>
          </article>                    
        </section>
      </main>

      <%- include('../partials/footer') %>
      
</body>
</html>