<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bicicletas Rodá</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/product-descriptionAccessories.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
</head>

<body class="body">

  <%- include('../partials/header') %>
    
    <main class="main">

        <!--Button back-->
     

      <!--Mobile-->
        <nav class="buttonBack">
          <a class="buttonBack__link" href="/product-listAccessories"><i class="fas fa-undo-alt buttonBack__icon"></i>Volver</a>
        </nav>
        <section class="productConteiner productConteiner--mobile">
        <section class="photoAndName">
            <h2 class="photoAndName__name">Lorem ipsum</h2>
            <figure class="photoAndName__photo">
                <img class="photoAndName__image" src="images/bicicleta.jpg" alt="">
            </figure>
        </section>

        <div class="colorsButton">
            <p class="colorsButton__title"> Colores disponibles</p>
            <a class="colorsButton__button  href="">
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href=""> 
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href="">
                <i class="far fa-circle"></i> </a>
            <a class="colorsButton__button  href=""> 
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href=""> 
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href="">
                <i class="far fa-circle"></i>
            </a>
        </div>

        <section class="priceAndShipping">
            <article class="priceAndShipping__price">
                <p class="priceAndShipping__priceValue"> $ 30.000</p>
                <a class="priceAndShipping__payMethod" href="">Ver medios de pago</a>
            </article>
            <form class="priceAndShipping__buttons">
                <button class="buttonAddCart">Añadir al carrito</button>
                <button class="buttonAddFavorite"><i class="fas fa-star navBar__icon"></i></button>
            </form>
            <article class="priceAndShipping__shipping">
                <a class="priceAndShipping__shippingLink" href=""> Punto de envio <i class="priceAndShipping__shippinIicon fas fa-map-marker-alt"></i></a>
                <a class="priceAndShipping__shippingLink" href="">Condiciones de envíos</a>
            </article>
        </section>

        <section class="productDetaill">
            <div class="productDetaill__tabs">
                <p class="productDetaill__description">Descripción</p>
                <p class="productDetaill__file">Ficha técnica</p>
            </div>
            <div class="productDetaill__content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi numquam accusamus doloremque deleniti neque voluptatum sequi pariatur sunt tenetur, quae inventore optio aperiam, in iusto.
            </div>
        </section>

    </section>
     <!--End Mobile-->

     <!--Desktop-->
    <section class="productConteiner productConteiner--desktop">
      <section class="leftColumn">
        <figure class="photoAndName__photo">
          <img class="photoAndName__image" src="images/bicicleta.jpg" alt="">
      </figure>
      </section>

      <section class="rightColumn">
        <h2 class="productName">Lorem ipsum</h2>
        <article class="productPriceMethod">
          <p class="productPriceMethod__price">$ 1.000.000</p>
          <a class="productPriceMethod__method" href="">Medios de pago</a>
          <a class="productPriceMethod__shippingPoint" href=""> Punto de envio <i class="priceAndShipping__shippinIicon fas fa-map-marker-alt"></i></a>
          <a class="productPriceMethod__shippingCondition" href="">Condiciones de envíos</a>
          <form class="amount__form" action="">
            <label class="amount__text amount__text--bold">Cantidad</label>
            <select class="amount__select"  name="" id="">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <label class="amount__text">x disponibles</label> 
          </form>         
        </article>
        <form class="priceAndShipping__buttons priceAndShipping__buttons--desktop">
          <button class="buttonAddCart buttonAddCart--desktop">Añadir al carrito</button>
          <button class="buttonAddFavorite buttonAddFavorite--desktop"><i class="fas fa-star navBar__icon"></i></button>
        </form>
        <article class="productDetaill">
          <div class="productDetaill__tabs">
              <p class="productDetaill__description">Descripción</p>
              <p class="productDetaill__file">Ficha técnica</p>
          </div>
          <div class="productDetaill__content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi numquam accusamus doloremque deleniti neque voluptatum sequi pariatur sunt tenetur, quae inventore optio aperiam, in iusto.
          </div>
        </article>

      </section>
    </section>
    <!--End desktop-->  
    </main>

    <%- include('../partials/footer') %>
   
</body>
</html>