<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sobre Rodá</title>
    <script
    src="https://kit.fontawesome.com/1161afb872.js"
    crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/aboutRoda.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header class="header">
      <nav class="navBar">
        <ul class="navBar__ul navBar__ul--left">
          <li class="navBar__liLeft">
            <a class="navBar__link" href="#"
              ><i class="fas fa-bars navBar__icon navBar__icon--burguerMenu"></i
            ></a>
          </li>
          <li class="navBar__liLeft">
            <a class="navBar__link" href="#">
              <i class="fas fa-search navBar__icon"></i>
            </a>
          </li>
        </ul>
        <figure class="navBar__logo">
          <img
            class="navBar__imageLogo"
            src="/images/Logo.png"
            alt="Logo de Rodá"
          />
        </figure>
        <ul class="navBar__ul navBar__ul--right">
          <li class="navBar__liRight">
            <a class="navBar__link" href="#">
              <i class="fas fa-star navBar__icon"></i>
            </a>
          </li>
          <li class="navBar__liRight">
            <a class="navBar__link" href="/login">
              <i class="fas fa-user-circle navBar__icon"></i>
            </a>
          </li>
          <li class="navBar__liRight">
            <a class="navBar__link" href="/cart">
              <i class="fas fa-shopping-cart navBar__icon"></i>
            </a>
          </li>
        </ul>

        <!--Navbar desktop-->

        <ul class="navBarDesktop__ul navBarDesktop__ul--left">
          <li class="navBarDesktop__liLeft">
            <a class="navBarDesktop__link" href="#">
              <p class="navBarDesktop__p">Bicicletas</p>
            </a>
          </li>
          <li class="navBarDesktop__liLeft">
            <a class="navBarDesktop__link" href="#">
              <p class="navBarDesktop__p">Accesorios</p>
            </a>
          </li>
          <li class="navBarDesktop__liLeft">
            <a class="navBarDesktop__link" href="#">
              <p class="navBarDesktop__p navBarDesktop__p--roda">Rodá</p>
            </a>
          </li>
        </ul>
        <figure class="navBarDesktop__logo">
          <img
            class="navBarDesktop__imageLogo"
            src="/images/Logo.png"
            alt="Logo de Rodá"
          />
        </figure>
        <ul class="navBarDesktop__ul navBarDesktop__ul--right">
          <li class="navBarDesktop__liRight">
            <a class="navBarDesktop__link" href="#">
              <p class="navBarDesktop__p">Favoritos</p>
            </a>
          </li>
          <li class="navBarDesktop__liRight">
            <a class="navBarDesktop__link" href="/login">
              <p class="navBarDesktop__p">Mi Rodá</p>
            </a>
          </li>
          <li class="navBarDesktop__liRight">
            <a class="navBarDesktop__link" href="/cart">
              <i class="fas fa-shopping-cart navBarDesktop__icon"></i>
            </a>
          </li>
        </ul>
      </nav>

      <!--Dropdown-->
      <ul class="dropdown">
        <li class="dropdown__li">
          <a class="dropdown__a" href="#">Bicicletas</a>
        </li>
        <li class="dropdown__li">
          <a class="dropdown__a" href="#">Accesorios</a>
        </li>
        <li class="dropdown__li"></li>
        <li class="dropdown__li">
          <a class="dropdown__a" href="/login"><b>Ingresa</b> a tu cuenta</a>
        </li>
        <li class="dropdown__li">
          <a class="dropdown__a" href="/register"><b>Crea</b> tu cuenta</a>
        </li>
        <li class="dropdown__li"></li>
        <li class="dropdown__li">
          <a class="dropdown__a" href="#">¡Encontranos en nuestras redes!</a>
        </li>
        <li class="dropdown__li">
          <a class="iconDrop" href="#"><i class="fab fa-facebook"></i></a>
          <a class="iconDrop" href="#"><i class="fab fa-instagram"></i></a>
          <a class="iconDrop" href="#"><i class="fab fa-twitter-square"></i></a>
        </li>
      </ul>
    </header>

    <main class="mainAbout">
    <figure class="figureAbout">
        <img class="figureAbout__img"
        src="./images/about.jpeg"
        alt="Bicicleta amarilla con un canasto con flores"
        />
    </figure>
    <section class="sectionAbout">
        <h1 class="sectionAbout__h1">Sobre Rodá</h1>
        <p class="sectionAbout__p">
        ¡Hola! Somos Gonzalo, Vicente y Andrea, tres jóvenes conociendo el
        mundo del desarrollo web.
        </p>
        <p class="sectionAbout__p">
        En este proceso tan interesante y complejo nos otorgaron como desafío
        crear un e-commerce. Nosotros elegimos que los productos a la venta
        sean bicicletas y accesorios de estilo retro.
        </p>
        <p class="sectionAbout__p">
        Así fue que pusimos manos al código, para aprender, probar y romper
        (algunas cuantas veces), porque no hay manera de incorporar este
        conocimiento, que no sea en el hacer.
        </p>
        <p class="sectionAbout__p">
        Bienvenidos a nuestro proyecto, a nuestra primera experiencia en este
        recorrido.
        </p>
    </section>
    </main>

    <footer class="footer">
      <section class="aboutUs">
        <article class="aboutUs__socialMedia">
          <p class="aboutUs__title">Seguinos</p>
          <ul class="aboutUs__ul">
            <li class="aboutUs__li">
              <a class="aboutUs__link" href="#">
                <i class="fab fa-facebook aboutUs__icon"></i>
              </a>
            </li>
            <li class="aboutUs__li">
              <a class="aboutUs__link" href="#">
                <i class="fab fa-instagram aboutUs__icon"></i>
              </a>
            </li>
            <li class="aboutUs__li">
              <a class="aboutUs__link" href="#">
                <i class="fab fa-twitter-square aboutUs__icon"></i>
              </a>
            </li>
          </ul>
        </article>

        <article class="history">
          <a class="history__link" href="#">Sobre Rodá</a>
        </article>

        <article class="contact">
          <a class="contact__link" href="#">Contactanos</a>
        </article>
      </section>

      <section class="newsLetter">
        <h2 class="newsLetter__title">Recibir novedades</h2>
        <form class="newsLetter__form" action="#">
          <fieldset class="newsLetter__fieldset">
            <input
              class="newsLetter__input"
              type="email"
              placeholder="Ingresá tu email"
            />
            <button class="newsLetter__button" type="submit">
              <i class="fas fa-envelope newsLetter__icon"></i>
            </button>
          </fieldset>
        </form>
      </section>

      <section class="copyright">
        <p class="copyright__p">
          Creado por Andrea Eichenberger, Vicente Macchione y Gonzalo Kesy.
        </p>
      </section>
    </footer>
</body>
</html>
