<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cart</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body">
    <main class="main">
        <div class="warning">
            <p class="warning__p"><i class="fas fa-exclamation-triangle warning__icon"></i>No olvides chequear tu carrito</p>
            <p class="warning__p"><i class="fas fa-exclamation-triangle warning__icon"></i>La compra mínima permitida es de $$</p>
        </div>
        <section class="productDetail">
            <div class="productDetail__title">
                <p class="productDetail__p">Producto</p>
                <p class="productDetail__p">Precio</p>
                <p class="productDetail__p">Cantidad</p>
                <p class="productDetail__p">Subtotal</p>
            </div>

            <article class="productDetail__article">
                <figure class="productDetail__figure"><img class="productDetail__imageProduct" src="#" alt="Img Prod"></figure>
                <h4>Modelo</h4>
                <h4>Precio</h4>
                <h4>Cantidad</h4>
                <h4>Subtotal</h4>         
            </article>
        </section>



    </main>
    <footer></footer>
</body>
</html>