<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cart</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/cartShipping.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body">
    
    <header class="header">
    <nav class="navBar">
      <ul class="navBar__ul navBar__ul--left">
        <li class="navBar__liLeft">
          <a class="navBar__link" href="#"><i class="fas fa-bars navBar__icon navBar__icon--burguerMenu"></i></a>
        </li>
        <li class="navBar__liLeft">
          <a class="navBar__link" href="#">
            <i class="fas fa-search navBar__icon"></i>
          </a>
        </li>
      </ul>
      <figure class="navBar__logo">
        <img
          class="navBar__imageLogo"
          src="/images/Logo.png"
          alt="Logo de Rodá"
        />
      </figure>
      <ul class="navBar__ul navBar__ul--right">
        <li class="navBar__liRight">
          <a class="navBar__link" href="#">
            <i class="fas fa-star navBar__icon"></i>
          </a>
        </li>
        <li class="navBar__liRight">
          <a class="navBar__link" href="/login">
            <i class="fas fa-user-circle navBar__icon"></i>
          </a>
        </li>
        <li class="navBar__liRight">
          <a class="navBar__link" href="/cart">
            <i class="fas fa-shopping-cart navBar__icon"></i>
          </a>
        </li>
      </ul>

      <!--Navbar desktop-->

      <ul class="navBarDesktop__ul navBarDesktop__ul--left">
        <li class="navBarDesktop__liLeft">
          <a class="navBarDesktop__link" href="#">
            <p class="navBarDesktop__p">Bicicletas</p>
          </a>
        </li>
        <li class="navBarDesktop__liLeft">
          <a class="navBarDesktop__link" href="#">
            <p class="navBarDesktop__p">Accesorios</p>
          </a>
        </li>
        <li class="navBarDesktop__liLeft">
          <a class="navBarDesktop__link" href="#">
            <p class="navBarDesktop__p navBarDesktop__p--roda">Rodá</p>
          </a>
        </li>
      </ul>
      <figure class="navBarDesktop__logo">
        <img
          class="navBarDesktop__imageLogo"
          src="/images/Logo.png"
          alt="Logo de Rodá"
        />
      </figure>
      <ul class="navBarDesktop__ul navBarDesktop__ul--right">
        <li class="navBarDesktop__liRight">
          <a class="navBarDesktop__link" href="#">
            <p class="navBarDesktop__p">Favoritos</p>
          </a>
        </li>
        <li class="navBarDesktop__liRight">
          <a class="navBarDesktop__link" href="/login">
            <p class="navBarDesktop__p">Mi Rodá</p>
          </a>
        </li>
        <li class="navBarDesktop__liRight">
          <a class="navBarDesktop__link" href="/cart">
            <i class="fas fa-shopping-cart navBarDesktop__icon"></i>
          </a>
        </li>
      </ul>
    </nav>

    <!--Dropdown-->
    <ul class="dropdown">
      <li class="dropdown__li">
        <a class="dropdown__a" href="#">Bicicletas</a>
      </li>
      <li class="dropdown__li">
        <a class="dropdown__a" href="#">Accesorios</a>
      </li>
      <li class="dropdown__li"></li>
      <li class="dropdown__li">
        <a class="dropdown__a" href="/login"><b>Ingresa</b> a tu cuenta</a>
      </li>
      <li class="dropdown__li">
        <a class="dropdown__a" href="/register"><b>Crea</b> tu cuenta</a>
      </li>
      <li class="dropdown__li"></li>
      <li class="dropdown__li">
        <a class="dropdown__a" href="#">¡Encontranos en nuestras redes!</a>
      </li>
      <li class="dropdown__li">
        <a class="iconDrop" href="#"><i class="fab fa-facebook"></i></a>
        <a class="iconDrop" href="#"><i class="fab fa-instagram"></i></a>
        <a class="iconDrop" href="#"><i class="fab fa-twitter-square"></i></a>
      </li>
    </ul>
    </header>

    <main class="main">
    <section class="boxShippingDetail">
      <section class="shippingDetail">
        <article class="shippingDetail__article">
              <p class="shippingDetail__p"><i class="fas fa-truck shippingDetail__icon"></i>Selecciona ubicación de entrega o retiro</p>   
        </article>
        <article class="shippingDetail__article">
              <p class="shippingDetail__p"><i class="fas fa-credit-card shippingDetail__icon"></i>Selecciona metodo de pago</p>
        </article>
      </section>

      <section class="totals">
        <h3 class="totals__title">Totales</h3>
        <table class="totals__table">
          <tbody class="totals__tbody">
            <tr class="totals__tr">
                <td class="totals__td">Subtotal</td>
                <td class="totals__td">$$</td>
            </tr>
            <tr class="totals__tr">
                <td class="totals__td">Envio</td>
                <td class="totals__td">Gratis</td>
            </tr>
            <tr class="totals__tr">
                <td class="totals__td">Pagas</td>
                <td class="totals__td">$$</td>
            </tr>
          </tbody>
        </table>
        <nav class="totals__nav">                
            <a class="totals__link" href="/">
                Finalizar compra
            </a>
          </nav>            
      </section>
    </section>
    </main>

    <footer class="footer">
      <section class="aboutUs">
        <article class="aboutUs__socialMedia">
          <p class="aboutUs__title">Seguinos</p>
          <ul class="aboutUs__ul">
            <li class="aboutUs__li">
              <a class="aboutUs__link" href="#">
                <i class="fab fa-facebook aboutUs__icon"></i>
              </a>
            </li>
            <li class="aboutUs__li">
              <a class="aboutUs__link" href="#">
                <i class="fab fa-instagram aboutUs__icon"></i>
              </a>
            </li>
            <li class="aboutUs__li">
              <a class="aboutUs__link" href="#">
                <i class="fab fa-twitter-square aboutUs__icon"></i>
              </a>
            </li>
          </ul>
        </article>
      
      <article class="history">
          <a class="history__link" href="#">Sobre Rodá</a>
      </article>

      <article class="contact">
          <a class="contact__link" href="#">Contactanos</a>
      </article>
      </section>

      <section class="newsLetter">
        <h2 class="newsLetter__title"> Recibir novedades </h2>
        <form class="newsLetter__form" action="#">
          <fieldset class="newsLetter__fieldset">
            <input class="newsLetter__input" type="email" placeholder="Ingresá tu email">
            <button class="newsLetter__button" type="submit"> <i class="fas fa-envelope newsLetter__icon"></i> </button>
          </fieldset>
        </form>
      </section>

      <section class="copyright">
        <p class="copyright__p"> Creado por Andrea Eichenberger, Vicente Macchione y Gonzalo Kesy.</p>
      </section>
    </footer>

    
</body>
</html>