<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Rodá</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="body">
    <footer class="footer">
      <div class="aboutUs">
        <div class="aboutUs__socialMedia">
          <h3 class="aboutUs__title">Seguinos</h3>
          <ul class="aboutUs__ul">
            <li class="aboutUs__li">
              <a class="aboutUs__link" href="#">
                <i class="fab fa-facebook aboutUs__icon"></i>
              </a>
            </li>
            <li class="aboutUs__li">
              <a class="aboutUs__link" href="#">
                <i class="fab fa-instagram aboutUs__icon"></i>
              </a>
            </li>
            <li class="aboutUs__li">
              <a class="aboutUs__link" href="#">
                <i class="fab fa-twitter-square aboutUs__icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="history">
        <div class="history__div">
          <a class="history__link" href="#">Sobre Rodá</a>
        </div>
      </div>

      <div class="contact">
        <div class="contact__div">
          <a class="contact__link" href="#">Contactanos</a>
        </div>
      </div>

      <div class="newsLetter">
        <form class="newsLetter__form" action="#">
          <label class="newsLetter__label"> Recibir novedades </label>
          <fieldset  class="newsLetter__fieldset">
            <input class="newsLetter__input" type="email" placeholder="Ingresá tu email">
            <button class="newsLetter__button" type="submit"> <i class="fas fa-envelope newsLetter__icon"></i> </button>
          </fieldset>
      
        </form>
      </div>
      <p class="cpoyright"> Creado por Andrea Eichenberger, Vicente Macchione y Gonzalo Kesy.</p>
    </footer>
  </body>
</html>
