<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rodá</title>
    <script src="https://kit.fontawesome.com/1161afb872.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body">
    <header class="header">
        <nav class="navBar">
            <ul class="navBar__ul navBar__ul--left">
                <li class="navBar__liLeft">
                    <a class="navBar__link" href="#">
                        <i class="fas fa-bars navBar__icon"></i>
                    </a>
                </li>
                <li class="navBar__liLeft">
                    <a class="navBar__link" href="#">
                        <i class="fas fa-search navBar__icon"></i>
                    </a>
                </li>
            </ul>
            <div class="navBar__logo">                
                <img class="navBar__imageLogo" src="/images/Logo.png" alt="Logo de Rodá">
            </div>
            <ul class="navBar__ul navBar__ul--right">                             
                <li class="navBar__liRight">
                    <a class="navBar__link" href="#">
                        <i class="fas fa-star navBar__icon"></i>
                    </a>
                </li>
                <li class="navBar__liRight">
                    <a class="navBar__link" href="#">
                        <i class="fas fa-user-circle navBar__icon"></i>
                    </a>
                </li>
                <li class="navBar__liRight">
                    <a class="navBar__link" href="#">
                        <i class="fas fa-shopping-cart navBar__icon"></i>
                    </a>
                </li>
            </ul>            
        </nav>
    </header>
    <main></main>
    <footer class="footer">
        <div class="boxFooter">
            <div class="aboutUs">
                <div class="aboutUs__socialMedia">
                    <h3 class="aboutUs__title">Seguinos</h3>
                    <ul class="aboutUs__ul">
                        <li class="aboutUs__li">
                            <a class="aboutUs__link" href="#">
                                <i class="fab fa-facebook aboutUs__icon"></i>
                            </a>
                        </li>
                        <li class="aboutUs__li">
                            <a class="aboutUs__link" href="#">
                                <i class="fab fa-instagram aboutUs__icon"></i>
                            </a>
                        </li>
                        <li class="aboutUs__li">
                            <a class="aboutUs__link" href="#">
                                <i class="fab fa-twitter-square aboutUs__icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="history">
                <div class="history__div">
                    <a class="history__link" href="#">Sobre Rodá</a>
                </div>
            </div>

            <div class="contact">
                <div class="contact__div">
                    <a class="contact__link" href="#">Contactanos</a>
                </div>
            </div>            
            
            <div class="boxFooter__newsLetter"></div>
            <div class="boxFooter__copyright"></div>
        </div>
    </footer>
</body>
</html>
