<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-">
    <title>Rodá</title>
    <script src="https://kit.fontawesome.com/1161afb872.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <nav class="header-navbar">
            <div class="icono-left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-search"></i>
            </div>
            <div class="logo-roda">                
                <img src="/images/Logo.png" alt="Logo de Rodá">
            </div>
            <div class="icono-right">             
                <i class="far fa-star"></i>
                <i class="far fa-user-circle"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>            
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>
