<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Bicicletas Rodá</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
      <main class="mainHome">
          <section class="sectionHome">
              <a class="sectionHome__a" href="#">¡Conocelas!</a>
              <figure class="sectionHome__figure">
                  <img class="figure__img" src="/images/imgHome.jpg" alt="">
              </figure>
          </section>

          <section class="sectionHome sectionHome--fifty">
            <a a class="sectionHome__a" href="#">Novedades</a>
            <figure class="sectionHome__figure">
                <img class="figure__img" src="/images/imgHome1.jpg" alt="">
            </figure>
        </section>

        <section class="sectionHome sectionHome--fifty">
          <a a class="sectionHome__a" href="#">Las más elegidas</a>
          <figure class="sectionHome__figure">
              <img class="figure__img" src="/images/imgHome2.jpg" alt="">
          </figure>
      </section>

      </main>
  </body>
</html>
