<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Bicicletas Rodá</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="header">
      <nav class="navBar">
        <ul class="navBar__ul navBar__ul--left">
          <li class="navBar__liLeft">
            <a class="navBar__link" href="#">
              <i class="fas fa-bars navBar__icon"></i>
            </a>
          </li>
          <li class="navBar__liLeft">
            <a class="navBar__link" href="#">
              <i class="fas fa-search navBar__icon"></i>
            </a>
          </li>
        </ul>
        <figure class="navBar__logo">
          <img
            class="navBar__imageLogo"
            src="/images/Logo.png"
            alt="Logo de Rodá"
          />
        </figure>
        <ul class="navBar__ul navBar__ul--right">
          <li class="navBar__liRight">
            <a class="navBar__link" href="#">
              <i class="fas fa-star navBar__icon"></i>
            </a>
          </li>
          <li class="navBar__liRight">
            <a class="navBar__link" href="#">
              <i class="fas fa-user-circle navBar__icon"></i>
            </a>
          </li>
          <li class="navBar__liRight">
            <a class="navBar__link" href="#">
              <i class="fas fa-shopping-cart navBar__icon"></i>
            </a>
          </li>
        </ul>

        <!--Navbar desktop-->

        <ul class="navBarDesktop__ul navBarDesktop__ul--left">
          <li class="navBarDesktop__liLeft">
            <a class="navBarDesktop__link" href="#">
              <p class="navBarDesktop__p">Bicicletas</p>
            </a>
          </li>
          <li class="navBarDesktop__liLeft">
            <a class="navBarDesktop__link" href="#">
              <p class="navBarDesktop__p">Accesorios</p>
            </a>
          </li>
          <li class="navBarDesktop__liLeft">
            <a class="navBarDesktop__link" href="#">
              <p class="navBarDesktop__p">Rodá</p>
            </a>
          </li>
        </ul>
        <figure class="navBarDesktop__logo">
          <img
            class="navBarDesktop__imageLogo"
            src="/images/Logo.png"
            alt="Logo de Rodá"
          />
        </figure>
        <ul class="navBarDesktop__ul navBarDesktop__ul--right">
          <li class="navBarDesktop__liRight">
            <a class="navBarDesktop__link" href="#">
              <p class="navBarDesktop__p">Favoritos</p>
            </a>
          </li>
          <li class="navBarDesktop__liRight">
            <a class="navBarDesktop__link" href="#">
              <p class="navBarDesktop__p">Mi Rodá</p>
            </a>
          </li>
          <li class="navBarDesktop__liRight">
            <a class="navBarDesktop__link" href="#">
              <i class="fas fa-shopping-cart navBarDesktop__icon"></i>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="mainHome">
      <section class="sectionHome">
        <a class="sectionHome__a" href="#">¡Conocelas!</a>
        <figure class="sectionHome__figure sectionHome__figure--slider">
          <ul class="slider__ul">
            <li class="slider__ul__li">
              <img
                class="imgSlider"
                src="images/slider1.jpg"
                alt="Hombre que pasea en bicicleta en un atardecer"
              />
            </li>
            <li class="slider__ul__li">
              <img
                class="imgSlider"
                src="images/slider2.jpg"
                alt="Mujer sentada mirando el horizonte con una bicicleta a su lado"
              />
            </li>
            <li class="slider__ul__li">
              <img
                class="imgSlider"
                src="images/slider3.jpg"
                alt="Plano detalle de bicicleta"
              />
            </li>
          </ul>
        </figure>
      </section>

      <section class="sectionHome sectionHome--fifty">
        <a a class="sectionHome__a" href="#">Novedades</a>
        <figure class="sectionHome__figure">
          <img
            class="figure__img"
            src="/images/imgHome2.jpg"
            alt="Plano detalle de una bicicleta"
          />
        </figure>
      </section>

      <section class="sectionHome sectionHome--fifty">
        <a a class="sectionHome__a" href="#">Las más elegidas</a>
        <figure class="sectionHome__figure">
          <img
            class="figure__img"
            src="/images/imgHome3.jpg"
            alt="Persona paseando en bicicleta en un campo soleado"
          />
        </figure>
      </section>

      <footer class="footer">
        <div class="aboutUs">
          <div class="aboutUs__socialMedia">
            <p class="aboutUs__title">Seguinos</p>
            <ul class="aboutUs__ul">
              <li class="aboutUs__li">
                <a class="aboutUs__link" href="#">
                  <i class="fab fa-facebook aboutUs__icon"></i>
                </a>
              </li>
              <li class="aboutUs__li">
                <a class="aboutUs__link" href="#">
                  <i class="fab fa-instagram aboutUs__icon"></i>
                </a>
              </li>
              <li class="aboutUs__li">
                <a class="aboutUs__link" href="#">
                  <i class="fab fa-twitter-square aboutUs__icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="history">
          <a class="history__link" href="#">Sobre Rodá</a>
        </div>

        <div class="contact">
          <a class="contact__link" href="#">Contactanos</a>
        </div>

        <div class="newsLetter">
          <form class="newsLetter__form" action="#">
            <label class="newsLetter__label"> Recibir novedades </label>
            <fieldset class="newsLetter__fieldset">
              <input
                class="newsLetter__input"
                type="email"
                placeholder="Ingresá tu email"
              />
              <button class="newsLetter__button" type="submit">
                <i class="fas fa-envelope newsLetter__icon"></i>
              </button>
            </fieldset>
          </form>
        </div>
        <p class="copyright">
          Creado por Andrea Eichenberger, Vicente Macchione y Gonzalo Kesy.
        </p>
      </footer>
    </main>
  </body>
</html>
