<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mi Rodá</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
      <main>
          <h3>Accedé a tu cuenta</h3>
          <form action="#">
              <fieldset>
                  <label for="email">Email *</label>
                  <input type="email" name="email" id="email">
              </fieldset>
              <fieldset>
                <label for="password">Contraseña *</label>
                <input type="password" name="password" id="password">
            </fieldset>
                <a href="#">¿Olvivaste tu contraseña?</a>
                <button type="submit">Acceder</button>
                <p>¿No tenés cuenta Rodá?</p>
                <a href="#">Create una acá</a>
            </fieldset>
          </form>
      </main>
  </body>
</html>