<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/product-description.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
</head>
<body>

    <main class="main">

        <section class="photoAndName">
            <h2 class="photoAndName__name">Lorem ipsum</h2>
            <figure class="photoAndName__photo">
                <img class="photoAndName__image" src="" alt="">
            </figure>
        </section>

        <div class="colorsButton">
            <a class="colorsButton__button  href="">
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href=""> 
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href="">
                <i class="far fa-circle"></i> </a>
            <a class="colorsButton__button  href=""> 
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href=""> 
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href="">
                <i class="far fa-circle"></i>
            </a>
        </div>

        <section class="priceAndShipping">
            <div class="priceAndShipping__price">
                <p class="priceAndShipping__priceValue"> $ 30.000</p>
                <a class="priceAndShipping__payMethod" href=""> Ver medios de pago</a>
            </div>
            <div class="priceAndShipping__shipping">
                <a class="priceAndShipping__shippingLink" href=""> Punto de envio <i class="fas fa-map-marker-alt"></i></a>
                <a class="priceAndShipping__shippingLink" href="">Condiciones de envíos</a>
            </div>
        </section>

        <section class="productDetaill">
            <ul class="productDetaill__tabs">
                <li class="productDetaill__description" >
                    <a href="">Ficha técnica</a>
                </li>
                <li class="productDetaill__description" >
                    <a href="">Descripción</a>
                </li>
            </ul>
            <div class="productDetaill__content"></div>
        </section>
        
        <section class="productActions">
            <button class="productActions__button"></button>
        </section>
    </main>
</body>
</html>