<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/1161afb872.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/product-description.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
</head>
<body class="body">

    <header class="header">
        <nav class="navBar">
          <ul class="navBar__ul navBar__ul--left">
            <li class="navBar__liLeft">
              <a class="navBar__link" href="#">
                <i class="fas fa-bars navBar__icon"></i>
              </a>
            </li>
            <li class="navBar__liLeft">
              <a class="navBar__link" href="#">
                <i class="fas fa-search navBar__icon"></i>
              </a>
            </li>
          </ul>
          <figure class="navBar__logo">
            <img
              class="navBar__imageLogo"
              src="/images/Logo.png"
              alt="Logo de Rodá"
            />
          </figure>
          <ul class="navBar__ul navBar__ul--right">
            <li class="navBar__liRight">
              <a class="navBar__link" href="#">
                <i class="fas fa-star navBar__icon"></i>
              </a>
            </li>
            <li class="navBar__liRight">
              <a class="navBar__link" href="#">
                <i class="fas fa-user-circle navBar__icon"></i>
              </a>
            </li>
            <li class="navBar__liRight">
              <a class="navBar__link" href="#">
                <i class="fas fa-shopping-cart navBar__icon"></i>
              </a>
            </li>
          </ul>
  
          <!--Navbar desktop-->
  
          <ul class="navBarDesktop__ul navBarDesktop__ul--left">
            <li class="navBarDesktop__liLeft">
              <a class="navBarDesktop__link" href="#">
                <p class="navBarDesktop__p">Bicicletas</p>
              </a>
            </li>
            <li class="navBarDesktop__liLeft">
              <a class="navBarDesktop__link" href="#">
                <p class="navBarDesktop__p">Accesorios</p>
              </a>
            </li>
            <li class="navBarDesktop__liLeft">
              <a class="navBarDesktop__link" href="#">
                <p class="navBarDesktop__p">Rodá</p>
              </a>
            </li>
          </ul>
          <figure class="navBarDesktop__logo">
            <img
              class="navBarDesktop__imageLogo"
              src="/images/Logo.png"
              alt="Logo de Rodá"
            />
          </figure>
          <ul class="navBarDesktop__ul navBarDesktop__ul--right">
            <li class="navBarDesktop__liRight">
              <a class="navBarDesktop__link" href="#">
                <p class="navBarDesktop__p">Favoritos</p>
              </a>
            </li>
            <li class="navBarDesktop__liRight">
              <a class="navBarDesktop__link" href="#">
                <p class="navBarDesktop__p">Mi Rodá</p>
              </a>
            </li>
            <li class="navBarDesktop__liRight">
              <a class="navBarDesktop__link" href="#">
                <i class="fas fa-shopping-cart navBarDesktop__icon"></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    
    <main class="main">

        <!--Button back-->
     

      <!--Mobile-->
     <section class="productConteiner productConteiner--mobile">
      <nav class="buttonBack">
        <a class="buttonBack__link" href=""><i class="fas fa-undo-alt buttonBack__icon"></i>Volver</a>
      </nav>
        <section class="photoAndName">
            <h2 class="photoAndName__name">Lorem ipsum</h2>
            <figure class="photoAndName__photo">
                <img class="photoAndName__image" src="images/bicicleta.jpg" alt="">
            </figure>
        </section>

        <div class="colorsButton">
            <p class="colorsButton__title"> Colores disponibles</p>
            <a class="colorsButton__button  href="">
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href=""> 
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href="">
                <i class="far fa-circle"></i> </a>
            <a class="colorsButton__button  href=""> 
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href=""> 
                <i class="far fa-circle"></i> 
            </a>
            <a class="colorsButton__button  href="">
                <i class="far fa-circle"></i>
            </a>
        </div>

        <section class="priceAndShipping">
            <article class="priceAndShipping__price">
                <p class="priceAndShipping__priceValue"> $ 30.000</p>
                <a class="priceAndShipping__payMethod" href="">Ver medios de pago</a>
            </article>
            <form class="priceAndShipping__buttons">
                <button class="buttonAddCart">Añadir al carrito</button>
                <button class="buttonAddFavorite"><i class="fas fa-star navBar__icon"></i></button>
            </form>
            <article class="priceAndShipping__shipping">
                <a class="priceAndShipping__shippingLink" href=""> Punto de envio <i class="priceAndShipping__shippinIicon fas fa-map-marker-alt"></i></a>
                <a class="priceAndShipping__shippingLink" href="">Condiciones de envíos</a>
            </article>
        </section>

        <section class="productDetaill">
            <div class="productDetaill__tabs">
                <p class="productDetaill__description">Descripción</p>
                <p class="productDetaill__file">Ficha técnica</p>
            </div>
            <div class="productDetaill__content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi numquam accusamus doloremque deleniti neque voluptatum sequi pariatur sunt tenetur, quae inventore optio aperiam, in iusto.
            </div>
        </section>

    </section>
     <!--End Mobile-->

     <!--Desktop-->
    <section class="productConteiner productConteiner--desktop">
      <nav class="buttonBack">
        <a class="buttonBack__link" href=""><i class="fas fa-undo-alt buttonBack__icon"></i>Volver</a>
      </nav>
      <section class="leftColumn">
        <figure class="photoAndName__photo">
          <img class="photoAndName__image" src="images/bicicleta.jpg" alt="">
      </figure>
      </section>

      <section class="rightColumn">
        <h2 class="productName">Lorem ipsum</h2>
        <article class="productPriceMethod">
          <p class="productPriceMethod__price">$ 1.000.000</p>
          <a class="productPriceMethod__method" href="">Medios de pago</a>
          <a class="productPriceMethod__shippingPoint" href=""> Punto de envio <i class="priceAndShipping__shippinIicon fas fa-map-marker-alt"></i></a>
          <a class="productPriceMethod__shippingCondition" href="">Condiciones de envíos</a>
          <form class="amount__form" action="">
            <label class="amount__text amount__text--bold">Cantidad</label>
            <select class="amount__select"  name="" id="">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <label class="amount__text">x disponibles</label> 
          </form>         
        </article>
        <form class="priceAndShipping__buttons priceAndShipping__buttons--desktop">
          <button class="buttonAddCart buttonAddCart--desktop">Añadir al carrito</button>
          <button class="buttonAddFavorite buttonAddFavorite--desktop"><i class="fas fa-star navBar__icon"></i></button>
        </form>
        <article class="productDetaill">
          <div class="productDetaill__tabs">
              <p class="productDetaill__description">Descripción</p>
              <p class="productDetaill__file">Ficha técnica</p>
          </div>
          <div class="productDetaill__content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi numquam accusamus doloremque deleniti neque voluptatum sequi pariatur sunt tenetur, quae inventore optio aperiam, in iusto.
          </div>
        </article>

      </section>
    </section>
    <!--End desktop-->  
    
    </main>

    <footer class="footer">
        <div class="aboutUs">
          <div class="aboutUs__socialMedia">
            <p class="aboutUs__title">Seguinos</p>
            <ul class="aboutUs__ul">
              <li class="aboutUs__li">
                <a class="aboutUs__link" href="#">
                  <i class="fab fa-facebook aboutUs__icon"></i>
                </a>
              </li>
              <li class="aboutUs__li">
                <a class="aboutUs__link" href="#">
                  <i class="fab fa-instagram aboutUs__icon"></i>
                </a>
              </li>
              <li class="aboutUs__li">
                <a class="aboutUs__link" href="#">
                  <i class="fab fa-twitter-square aboutUs__icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="history">
            <a class="history__link" href="#">Sobre Rodá</a>
        </div>
  
        <div class="contact">
            <a class="contact__link" href="#">Contactanos</a>
        </div>
  
        <div class="newsLetter">
          <form class="newsLetter__form" action="#">
            <label class="newsLetter__label"> Recibir novedades </label>
            <fieldset class="newsLetter__fieldset">
              <input class="newsLetter__input" type="email" placeholder="Ingresá tu email">
              <button class="newsLetter__button" type="submit"> <i class="fas fa-envelope newsLetter__icon"></i> </button>
            </fieldset>
        
          </form>
        </div>
        <p class="copyright"> Creado por Andrea Eichenberger, Vicente Macchione y Gonzalo Kesy.</p>
      </footer>
</body>
</html>