<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sobre Rodá</title>
    <link rel="stylesheet" href="/css/aboutRoda.css" />
    <%- include('../partials/head') %>  
  </head>
  <body class= "body">
    
    <%- include('../partials/header') %>

    <main class="mainAbout">
      <section class="sectionAbout">
        <h1 class="sectionAbout__h1">Sobre Rodá</h1>
        <p class="sectionAbout__p">
          ¡Hola! Somos Gonzalo, Vicente y Andrea, tres jóvenes conociendo el
          mundo del desarrollo web.
        </p>
        <p class="sectionAbout__p">
          En este proceso tan interesante y complejo nos otorgaron como desafío
          crear un e-commerce. Nosotros elegimos que los productos a la venta
          sean bicicletas y accesorios de estilo retro.
        </p>
        <p class="sectionAbout__p">
          Así fue que con mucho entusiasmo pusimos las manos en el código, para
          aprender, probar y romper (algunas cuantas veces), porque sabemos que
          la única manera de incorporar estos conocimientos es a través de la
          práctica.
        </p>
        <p class="sectionAbout__p sectionAbout__p--bienvenidos">
          ¡Bienvenidos a nuestro proyecto, a nuestra primera experiencia en este
          recorrido!
        </p>
      </section>
      <figure class="figureAbout">
        <img
          class="figureAbout__img"
          src="./images/about.jpg"
          alt="Bicicleta amarilla con un canasto con flores"
        />
      </figure>
    </main>

    <%- include('../partials/footer') %>

  </body>
</html>
