<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rodá</title>
    <link rel="stylesheet" href="/css/home.css" />
    <%- include('../partials/head') %>
  </head>
  <body class= "body">

    <%- include('../partials/header') %>

    <main class="mainHome">
      <section class="sectionHome">
        <a class="sectionHome__a" href="#">¡Conocelas!</a>
        <figure class="sectionHome__figure sectionHome__figure--slider">
          <ul class="slider__ul">
            <li class="slider__ul__li">
              <img
                class="imgSlider"
                src="images/slider1.jpg"
                alt="Hombre que pasea en bicicleta en un atardecer"
              />
            </li>
            <li class="slider__ul__li">
              <img
                class="imgSlider"
                src="images/slider2.jpg"
                alt="Mujer sentada mirando el horizonte con una bicicleta a su lado"
              />
            </li>
            <li class="slider__ul__li">
              <img
                class="imgSlider"
                src="images/slider3.jpg"
                alt="Plano detalle de bicicleta"
              />
            </li>
          </ul>
        </figure>
      </section>

      <section class="sectionHome sectionHome--fifty">
        <a a class="sectionHome__a" href="#">Novedades</a>
        <figure class="sectionHome__figure">
          <img
            class="figure__img"
            src="/images/imgHome2.jpg"
            alt="Plano detalle de una bicicleta"
          />
        </figure>
      </section>

      <section class="sectionHome sectionHome--fifty">
        <a a class="sectionHome__a" href="#">Las más elegidas</a>
        <figure class="sectionHome__figure">
          <img
            class="figure__img"
            src="/images/imgHome3.jpg"
            alt="Persona paseando en bicicleta en un campo soleado"
          />
        </figure>
      </section>
    </main>

    <%- include('../partials/footer') %>
    
  </body>
</html>
