/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
/*Estilos: 
    Extra-light 200
    Light 300
    Regular 400
    Medium 500
    Semi-bold 600
    Bold 700
*/

/* Paleta de colores: 
    marron oscuro 5a1807
    verde agua 4c956c
    marron claro eabe7c
    crema ece4b7
*/

*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

.body{
    margin: 0;    
    background-color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    font-size: 12px;
}

/*Main*/
.main{    
    width: 100%;        
}

/*Cartel de Warning*/
.warning__article{
    color: #5a1807;
    margin: 15px 5px;
}

/*Tabla del carrito con detalle de producto*/

.productDetail{
    background-color: #eabe7c;
    border: solid 1px #5a1807;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 12px;
}

.productDetail__th{
    color: #5a1807;
    font-weight: bold;
    padding: 10px;
    width: 20%;
}

.productDetail__td{
    width: 20%;
    color: #5a1807;
    text-align: center;
    padding: 10px;
    border-top: solid 0.3px #5a1807;    
}

.productDetail__th:nth-child(1){
    display: none;
}
.productDetail__td:nth-child(1){
    display: none;
}

.productDetail__imageProduct{
    width: 100%;
    border: solid 1px  #5a1807;
    border-radius: 5px;
}

.productDetail__quantityButton{
    border:none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin:auto;
}

.productDetail__button{
    background-color: #5a1807;
    color: white;
    border:none;
    width: 30%;
}

.productDetail__input{
    background-color: #eabe7c;
    border: solid 1px #5a1807;
    border-radius: 5px;
    padding: 5px;
    color: #5a1807;
    width: 100%;
    text-align: center;    
    outline: none;
}

/*Tabla del Carrito con detalle de totales*/

.totals{
    background-color: #eabe7c;
    border: solid 1px #5a1807;
    color: #5a1807;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    padding: 0px 5px;
}

.totals__title{
    color: #5a1807;
    text-align: left;
    font-weight: bold;
    margin: 15px 0px;
}

.totals__table{
    text-align: left;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.totals__td{
    width: 80%;
    padding: 20px 0px;
    border-bottom: solid 0.3px #5a1807;
}

.totals__nav{
    width:100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.totals__link{
    color:#eabe7c;
    text-decoration: none;
    width: 50%;
    padding: 10px 0;
    color: #f4e8c1;
    font-weight: 600;
    background-color: #4c956c;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
}

.totals__link:active {
    background-color: #5a1807;
}


/*
0 - 576 MOBILE
577 - 768 MOBILE XL
769 - 992 TABLET/NETBOOK
993 - 1199 DESKTOP
1200 - INFINITO 
/*

/* ---------Media queries ---------*/
/* --MOBILE XL--*/
@media (min-width: 577px) {
    .productDetail__th:nth-child(1){
        display: table-cell;        
    }
    .productDetail__td:nth-child(1){
        display: table-cell;
    }
}

/* --TABLET/NETBOOK--*/
@media (min-width: 769px) {
    /*MAIN*/
    .productDetail{
        max-width: 80%;
    }
    .totals{
        max-width: 40%;
    }
}

/* --DESKTOP--*/
@media (min-width: 993px) {
            
    /*MAIN*/
    .boxCart{
        display: flex;
        justify-content: space-between;
    }
    
    .productDetail{
        margin: 20px 5px;
        max-width: 50%;
    }

    .totals{
        max-width: 30%;
        height: 50%;
    }

    .totals__link {    
        transition: background-color 0.3s;
     }
    .totals__link:hover {
        background-color: #5a1807;
    }
}

/* --INFINITO--*/
@media (min-width: 1200px) {}