/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
/*Estilos: 
    Extra-light 200
    Light 300
    Regular 400
    Medium 500
    Semi-bold 600
    Bold 700
*/

/* Paleta de colores: 
    marron oscuro 5a1807
    verde agua 4c956c
    marron claro eabe7c
    crema ece4b7
*/

*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

.body{
    margin: 0;    
    background-color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    font-size: 12px;
}

/*Header*/
.header{    
    width: 100%;        
}

.navBar{
    background-color: #5a1807;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navBar__ul{
    display: flex;
    align-self: center;
    width: 35%;
    list-style: none;
    font-size: 20px;
}

.navBar__ul--left{
    justify-content: flex-start;  
}

.navBar__liLeft{
    margin-left: 20%;
}


.navBar__icon{
    width: 100%;
    font-size: 1em;
    align-self: center;
}

.navBar__ul--right{
    justify-content: flex-end; 
}

.navBar__liRight{
    margin-right: 15%;
}

.navBar__link{
    display: flex;
    color: #ece4b7;
    text-decoration: none;
}

.navBar__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.navBar__imageLogo{
    width: 70%;
}

.navBarDesktop__logo {
    display: none;
}

.navBarDesktop__ul {
    display: none;
}

/*MAIN*/
.main{    
    width: 100%;        
}

.shippingDetail{
    margin: 10px;
}
.shippingDetail__article{
    color: #5a1807;
    margin: 15px 5px;
    border: solid 0.3px #5a1807;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
}

.shippingDetail__icon{
    padding-right: 5px;
}




/*Tabla del Carrito con detalle de totales*/

.totals{
    background-color: #eabe7c;
    border: solid 1px #5a1807;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    padding: 0px 5px;
}

.totals__title{
    color: #5a1807;
    text-align: left;
    font-weight: bold;
    margin: 15px 0px;
}

.totals__table{
    text-align: left;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.totals__td{
    width: 80%;
    padding: 20px 0px;
    border-bottom: solid 0.3px #5a1807;
}

.totals__nav{
    width:100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.totals__link{
    text-decoration: none;
    width: 50%;
    padding: 10px 0;
    color: #f4e8c1;
    font-weight: 600;
    background-color: #4c956c;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
}

/*FOOTER*/
.footer {
    display: flex;
    background-color: #4c956c;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ece4b7;
    font-size: 12px;
}

.aboutUs {
    width: 33%;
}

.aboutUs__socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs__title {
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: bold;
}
.aboutUs__ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
}

.aboutUs__link {
    text-decoration: none;
    color: #ece4b7;
    font-size: 1.5em;
}

.history {
    width: 33%;
    text-align: center;
}

.history__link {
    display: block;
    text-decoration: none;
    color: #ece4b7;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.contact {
    width: 33%;
    text-align: center;
}

.contact__link {
    display: block;
    text-decoration: none;
    color: #ece4b7;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.newsLetter {
    width: 100%;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: #5a1807;
    padding: 5px 0;
}

.newsLetter {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.newsLetter__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.newsLetter__label {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.newsLetter__fieldset {
    width: 60%;
    display: flex;
    justify-content: center;
    border: none;
}

.newsLetter__input {
    width: 100%;
    position: relative;
    padding: 5px 5px;
    border-radius: 5px;
    border-style: none;
}

.newsLetter__button {
    position: absolute;
    align-self: center;
    border-radius: 5px;
    border-style: none;
    right: 24%;
    color: #5a1807;
    font-size: 1.5em;
}

/*
0 - 576 MOBILE
577 - 768 MOBILE XL
769 - 992 TABLET/NETBOOK
993 - 1199 DESKTOP
1200 - INFINITO 
/*

/* ---------Media queries ---------*/
/* --MOBILE XL--*/
@media (min-width: 577px) {
    .navBar__imageLogo{
        width: 50%;
    }
}

/* --TABLET/NETBOOK--*/
@media (min-width: 769px) {}


/* --DESKTOP--*/
@media (min-width: 993px) {
    /*HEADER*/
    .navBar__ul {
        display: none;
    }
    .navBar__logo {
        display: none;
    }

    .navBarDesktop__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .navBarDesktop__imageLogo{
        width: 50%;
    }

    .navBarDesktop__ul{
        display: flex;
        align-self: center;
        width: 35%;
        list-style: none;
        font-size: 20px;
    }

    .navBarDesktop__link{
        display: flex;
        color: #ece4b7;
        text-decoration: none;
        font-size: 0.9em;
    }

    .navBarDesktop__ul--left{
        justify-content: space-around;  
    }

    .navBarDesktop__ul--right{
        
        justify-content: space-around; 
    }
        
}

/* --INFINITO--*/
@media (min-width: 1200px) {
    .navBarDesktop__link {
        font-size: 0.8em;
    }
}