/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
/*Estilos: 
    Extra-light 200
    Light 300
    Regular 400
    Medium 500
    Semi-bold 600
    Bold 700
*/

/* Paleta de colores: 
    marron oscuro 5a1807
    verde agua 4c956c
    marron claro eabe7c
    crema ece4b7
*/


*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

.body{
    margin: 0;    
    background-color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    font-size: 12px;
}

.footer {
    display: flex;
    background-color: #4c956c;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ece4b7;
    font-size: 12px;

}

.aboutUs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.aboutUs__socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.aboutUs__title {
    margin: 10px 0 15px 0;
    font-size: 1.5em;
    font-weight: bold;
}
.aboutUs__ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
}

.aboutUs__link {
    text-decoration: none;
    color: #ece4b7;
    font-size: 1.5em;
}

.history {
    width: 33%;
    text-align: center;
}

.history__link {
    display: block;
    text-decoration: none;
    color: #ece4b7;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.contact {
    width: 33%;
    text-align: center;
}

.contact__link {
    display: block;
    text-decoration: none;
    color: #ece4b7;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: #5a1807;
    padding: 5px 0;
    font-size: 0.8em;
}

.newsLetter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0 20px 0;
}

.newsLetter__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.newsLetter__title {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-bottom: 5px;
    font-weight: 400;
}

.newsLetter__fieldset {
    width: 60%;
    display: flex;
    justify-content: center;
    border: none;
    position: relative;
}

.newsLetter__input {
    width: 85%;
    padding: 5px 5px;
    border-radius: 5px;
    border-style: none;
    background-color: #ece4b7;
    color: #5a1807;
    outline: none;
}

.newsLetter__input::placeholder {
    color: #5a1807;
}

.newsLetter__button {
    position: absolute;
    align-self: center;
    border-radius: 5px;
    border-style: none;
    right: 12%;
    color: #5a1807;
    font-size: 1.5em;
    background-color: #ece4b7;
}

/*
0 - 576 MOBILE
577 - 768 MOBILE XL
769 - 992 TABLET/NETBOOK
993 - 1199 DESKTOP
1200 - INFINITO 
/*


/* ---------Media queries ---------*/

@media (min-width: 577px) {
    .newsLetter__form {
        max-width: 576px;
    }
}

@media (min-width: 993px) {
    .copyright {
        font-size: 1em;
    }

    .aboutUs__ul {
        max-width: 144px;
    }

    .history__link:hover {
        text-decoration: underline;
    }

    .contact__link:hover {
        text-decoration: underline;
    }

    .newsLetter__icon:hover {
        color: #4c956c;
    }
}


 