/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
/*Estilos: 
    Extra-light 200
    Light 300
    Regular 400
    Medium 500
    Semi-bold 600
    Bold 700
*/

/* Paleta de colores: 
    marron oscuro 5a1807
    verde agua 4c956c
    marron claro eabe7c
    crema ece4b7
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;    
    background-color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    font-size: 12px;
}

/* HEADER */
header {
    font-family: "Raleway", sans-serif;
}

/* MAIN */
.mainHome {
    display: flex;
    flex-wrap: wrap;
}

.sectionHome {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.sectionHome__a {
    position: absolute;
    top: 79%;
    background-color: #5a1807;
    border-radius: 10px;
    padding: 7px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    color: #ece4b7;
    text-decoration: none;
    transition: background-color 0.3s;
}
.sectionHome__a:active {
    background-color: #4c956c;
}

.sectionHome__figure {
    width: 100%;
    margin-bottom: -4px;
    margin-right: -2px;
    margin-left: -2px;
}

/* Slider */
.sectionHome__figure--slider {
    overflow: hidden;
}
.slider__ul {
    display: flex;
    width: 300%;
    padding: 0;
    animation: slide 15s infinite alternate ease-in;
    margin-bottom: -2px;
}
.slider__ul__li {
    list-style: none;
    width: 100%;
}
.imgSlider {
    width: 100%;
}
@keyframes slide{
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

.figure__img {
    width: 100%;
    margin: -4 -4 -4px;
}

/* FOOTER */
footer {
    font-family: "Raleway", sans-serif;
    width: 100vw;
}

/* ---------Media queries ---------*/
/* --MOBILE XL--*/
@media (min-width: 577px) {
    .sectionHome__a {
    font-size: 0.9em;
    }
}

/* --TABLET/NETBOOK--*/
@media (min-width: 769px) {
    .sectionHome__a {
        font-size: 1.2em;
        }
}

/* --DESKTOP--*/
@media (min-width: 993px) {
    .sectionHome--fifty {
        width: 50%;
    }
    .sectionHome__a {
        font-size: 1.1em;
        }
    .sectionHome__a:hover {
        background-color: #4c956c;
    }
}

/* --INFINITO--*/
@media (min-width: 1200px) {
    .sectionHome__a {
        font-size: 1.5em;
        }
    }