/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
/*Estilos: 
    Extra-light 200
    Light 300
    Regular 400
    Medium 500
    Semi-bold 600
    Bold 700
*/
*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

.body{
    margin: 0;    
    background-color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

 /*Header*/
.header{    
    width: 100%;        
}

.navBar{
    background-color: #5a1807;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navBar__ul{
    display: flex;
    align-items: center;
    width: 30%;
    list-style: none;
}

.navBar__ul--left{
    justify-content: flex-start;   
}

.navBar__liLeft{
    margin-left: 20px;
}


.navBar__icon{
    width: 100%;
}

.navBar__ul--right{
    justify-content: flex-end;    
}

.navBar__liRight{
    margin-right: 20px;
}

.navBar__link{
    color: #ece4b7;
    text-decoration: none;
}

.navBar__logo{
    width: 30%;
}

.navBar__imageLogo{
    width: 95%;
}

/*FOOTER*/



