/*Estilos: 
    Extra-light 200
    Light 300
    Regular 400
    Medium 500
    Semi-bold 600
    Bold 700
*/

/* Paleta de colores: 
    marron oscuro 5a1807
    verde agua 4c956c
    marron claro eabe7c
    crema ece4b7
*/

.formProduct {
    width: 80%;
    margin: auto;
    background-color: #eabe7c;
    border-radius: 5px;
    padding: 5%;
    padding-bottom: 10%;
    border: solid 1px #5a1807;
  }
  
  .formProduct__fieldset {
    border: none;
    margin: 5%;
  }

  .formProduct__fieldset--checkbox {
      margin: 0;
      align-self: center;
  }

  .formProduct__label {
    font-size: 1.4em;
    display: block;
    width: 100%;
    margin-bottom: 2%;
    color: #5a1807;
    text-align: center;
  }
  
  .formProduct__input {
    color: #5a1807;
    background-color: #ece4b7;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    width: 85%;
    padding: 1.5%;
    border: solid 1px #5a1807;
    outline: none;
  }

  .formProduct__input--checkbox {
      display: inline;
      width: fit-content;
      border-style: none;
      margin-top: -1px;
      vertical-align: middle;
      color: #ece4b7;
  }

  .fieldset__input:focus {
    background-color: #ece4b7;
  }

  .formProduct__button {
    font-size: 1.3em;
    display: block;
    background-color: #4c956c;
    color: #ece4b7;
    font-weight: 600;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 15% auto 10%;
  }

  .formProduct__button:active {
    background-color: #5a1807;
  }