/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
/*Estilos: 
    Extra-light 200
    Light 300
    Regular 400
    Medium 500
    Semi-bold 600
    Bold 700
*/

/* Paleta de colores: 
    marron oscuro 5a1807
    verde agua 4c956c
    marron claro eabe7c
    crema ece4b7
*/


*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

.body{
    margin: 0;    
    background-color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    font-size: 12px;
}

.main {
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
}

.buttonBack {
    margin: 10px 0 20px 0;
    border-style: none;
    background-color: #5a1807 ;
    color: #ece4b7 ;
    padding: 5px;
    border-radius: 5px;
}

.buttonBack__icon {
    margin-right: 10px;
}

.buttonBack--end {
    display: block;
    margin:auto;
    margin-top: 30px;
}

.productConteiner {
    border: solid 0.3px #5a1807;
    padding: 13px;
}

.productConteiner--desktop {
    display: none;;
}

.photoAndName {
    width: 100%;
}

.photoAndName__name {
    width: 100%;
    margin-bottom: 20px;
    font-size: 2em;
    color: #5a1807;
    padding: 0 0 0 10px;
}

/* Caja de imagen */
.photoAndName__photo {
    width: 100%;
    margin: auto;
    background-color: #eabe7c ;
    text-align: center;
}

/* Imagen */
.photoAndName__image {
    padding-top: 23px;
    padding-bottom: 10px;
    width: 70%;
}

/* Caja de selección de color */
.colorsButton__title{
    font-size: 1.2em;
    color: #5a1807;
    margin-bottom: 5px;
}
.colorsButton {
    text-align: center;
    background-color: #eabe7c ;
    padding: 0 0 10px 0;
    margin-bottom: 20px;
}

/* Caja de precios, envios y botones */
.priceAndShipping {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
}

/* Caja de precios */
.priceAndShipping__price {
    width: 30%;
    color: #5a1807;
    background-color: #eabe7c ;
}

.priceAndShipping__priceValue {
    font-size: 2em;
    font-weight: 700;
    padding: 5px 0 10px 10px;
}

.priceAndShipping__payMethod {
    display: block;
    padding: 0 0 10px 10px;
    color: #5a1807;
    font-size: 1.2em;
    text-align: center;
}

/* Caja de botones */
.priceAndShipping__buttons {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonAddCart {
    width: 100%;
    padding: 10px 0;
    color: #f4e8c1;
    font-weight: 600;
    background-color: #4c956c;
    border-style: none;
    font-size: 1.5em;
    margin-bottom: 10px;
    border-radius: 5px;
}

.buttonAddFavorite {
    padding: 5px;
    color: #f4e8c1;
    background-color: #4c956c;
    border-style: none;
    border-radius: 5px;
}

/* Caja de envíos */
.priceAndShipping__shipping {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eabe7c;
}

.priceAndShipping__shippingLink {
    color: #5a1807;
    font-size: 1.1em;
    padding: 0 0 10px 0;
    text-align: center;
}

.priceAndShipping__shippingIcon {
    margin-left: 5px;
}

/* Caja de descripción y ficha técnica */ 

.productDetaill {
    width: 100%;
}

/* Pestañas */
.productDetaill__tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: #eabe7c;
    color: #5a1807;
    font-size: 1.2em;
    font-weight: 800;
}

.productDetaill__description {
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
    border: solid 1px #5a1807;
    padding: 10px 0;
}

.productDetaill__file {
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
    border: solid 1px #5a1807;
    padding: 10px 0;
    border-left: none;
}

/* Contenido pestañas */

.productDetaill__content {
    border: solid 1px #5a1807;
    border-top: none;
    padding: 10px;
    color: #5a1807;
    font-size: 1em;
}



/* --------- Media queries --------- */

/*
0 - 576 MOBILE
577 - 768 MOBILE XL
769 - 992 TABLET/NETBOOK
993 - 1199 DESKTOP
1200 - INFINITO 
*/


@media (min-width: 993px) {
    .productConteiner--mobile {
        display: none;
    }

    .productConteiner--desktop {
        display: block;
    }
    
    .leftColumn {
        width: 65%;
        display: flex;
        flex-direction: column;
    }

    .photoAndColor {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .photoAndColor__listConteiner {
        width:100%;
        background-color: #eabe7c;
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }
    .photoAndColor__list {
        width: 50%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .photoAndColor__link {
        width: 50%;
        margin: 0;
    }

    .photoAndColor__listPhoto {
        width: 100%;
    }

    .colorsButtonConteiner {
        width: 100%;
        margin: 20px 0 0 0;
        padding: 10px 0;
        background-color: #eabe7c;
    }

    .colorsButton--desktop{
        display: flex;
        align-items: center;
        align-self:flex-start;
        width: 50%;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .colorsButton__title--desktop {
        padding: 0;
        margin: 0;
    }
    
}